.Dashboard {
  .navbar-fixed-left {
    width: 200px;
    position: fixed;
    border-radius: 0;
    height: 100%;
  }

  .navbar-fixed-left .navbar-nav > li {
    float: none; /* Cancel default li float: left */
    width: 200px;
  }

  .navbar-fixed-left + .container {
    padding-left: 160px;
  }

  /* On using dropdown menu (To right shift popuped) */
  .navbar-fixed-left .navbar-nav > li > .dropdown-menu {
    margin-top: -50px;
    margin-left: 140px;
  }

  .navbar-default {
    background: #528FCC;
    border: none !important;
  }

  .navbar-default .navbar-text {
    color: white;
  }

  .navbar-default .navbar-nav > li > a {
    cursor: pointer;
    color: white;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: white;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    padding: 12px 15px;
    margin: 0 10px 20px 0;
  }

  .navbar-logo {
    font-family: "Brannboll", Georgia, Serif;;
    font-weight: bold;
    font-size: 58px;
    color: white;
    margin: 10px 0 0 0;
  }
}
