.Dashboard {
  .navbar-default {
    background: #528FCC;
    border: none !important;
  }

  .mailapp-alert {
    margin-bottom: 0;
  }

  .mailapp-group-name {
    font-size: 24px;
    font-weight: bold;
  }
  .mailapp-group-key {
    font-size: 16px;
  }

  .mailapp-account-username {
    font-size: 24px;
  }
  .mailapp-account-email {
    font-size: 18px;
  }

  .mailapp-group-count {
    font-size: 24px;
  }
}